/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#woocommerce_wc_asm_class {
    max-height: 50px;
    height: 50px;
    overflow-y: scroll;
}

/* #woocomerce_wc_asm_toggler {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
} */

/* #woocomerce_wc_asm_toggler {
    opacity: 0;
    width: 0;
    height: 0;
} */

#woocommerce_wc_asm_toggler {
    position: absolute;
    cursor: pointer;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    width: 60px;
    height: 36px;
}

#woocommerce_wc_asm_toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked#woocommerce_wc_asm_toggler {
    background-color: #2196F3;
}

input:focus#woocommerce_wc_asm_toggler {
    box-shadow: 0 0 1px #2196F3;
}

input:checked#woocommerce_wc_asm_toggler:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}